/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.client-list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit,minmax(min(100%,200px),1fr));

	li{
		border:1px dashed grey;
		list-style-type: none;
		padding: 10px;
		overflow: hidden;
	}
}
