<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Seba Users Tests">
			<directory prefix="test-" suffix=".php">./tests/phpunit/tests</directory>
			<exclude>./tests/phpunit/tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
